





.undertitle {
      font-size: 35px;
      font-style: normal;
      text-align: left;
}

a {
  color: navy;
  
}

p {
      font-size: 20px;
}

img {
  border: 5px solid #555;
}

.picture {
    border: 0px solid green;
}


<div>

.stickytitle {
      position: fixed;
      text-align: center;
      }


.text::-webkit-scrollbar {
  display: none;
}

.text {
  text-align: left;
  position: fixed;
  margin-top: 2vh;
  height: 75vh;
  right: 30vh;
  left: 30vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.text::before {
    content: "";
    background-color: white;
    position: fixed;
    right: 20vh;
    padding-top: 2vh;
    height: 78vh;
    left: 20vh;
    opacity: 0.85;
    z-index: -1;
}


.news::-webkit-scrollbar {
  display: none;
}

.news {
  text-align: left;
  position: fixed;
  margin-top: 2vh;
  height: 100%;
  right: 30vh;
  left: 30vh;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.news::before {
    content: "";
    background-color: white;
    position: fixed;
    right: 20vh;
    padding-top: 2vh;
    height: 100%;
    left: 20vh;
    opacity: 0.85;
    z-index: -1;
}


#floated-imgs { 
  float: right;
}

#floated-imgs img {display: block; }

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}










.yep {
  background-color: #ccc;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it ¤3(hover) */
/*.active, .yep:hover {
/*  background-color: navy
/*}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


</div>



<body>
  .hero {
      position: fixed;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .hero::before {
    content: "";
    background-image: url("images/background.JPG");
    background-size: cover;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.80;
    z-index: -2;
  }
  
</body>